.Definition {
  font-size: 18px;
  color: var(--dark-color);
}

.Definition .wordType {
  color: var(--tangerine);
  font-size: 22px;
}

.Definition .singleDefinition {
  margin: 0 0 0 10px;
}

.Definition .example {
  margin-top: 0px;
  margin-left: 15px;
  font-size: 16px;
  font-style: italic;
}
