.WelcomePage h1 {
  font-family: var(--accent-font);
  font-size: 150px;
  color: var(--neutral-color);
  margin: 0px 0px 20px;
  padding-top: 150px;
}

.WelcomePage h5 {
  font-size: 30px;
  font-weight: 500;
  color: var(--blue-color);
  margin-bottom: 50px;
}

.WelcomePage input {
  font-size: 16px;
  padding: 6px 8px 6px 8px;
  margin-bottom: 150px;
}

.WelcomePage-searchReady .appLogo {
  font-family: var(--accent-font);
  font-size: 90px;
  color: var(--neutral-color);
  margin: 0px 0px 10px;
  padding-top: 20px;
}

.menu-block div {
  padding: 0 0 0 0;
}

.WelcomePage-searchReady-menu input {
  font-size: 14px;
  padding: 6px 8px 6px 8px;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .WelcomePage h1 {
    font-size: 90px;
    margin: 0px 0px 40px;
    padding-top: 200px;
  }

  .WelcomePage h5 {
    font-size: 24px;
    margin-bottom: 70px;
  }

  .WelcomePage input {
    margin-bottom: 70px;
  }

  .WelcomePage-searchReady .appLogo {
    text-align: center;
  }
}
