.App .container {
  padding: 10px 20px auto;
  display: block;
  margin: 0 auto;
}

.App footer {
  margin: 50px 0 50px;
  text-align: center;
  font-size: 14px;
  color: var(--blue-color);
}

.App footer a {
  color: var(--blue-color);
}
