:root {
  --tangerine: #f27360;
  --dark-color: #39374d;
  --blue-color: #9aaaba;
  --neutral-color: #bdbec1;
  --accent-font: Oswald;
  --body-font: EB + Garamond;
  --terciary-font: Roboto;
}

body {
  margin: 0 auto;
  background-color: var(--dark-color);
}
