.ShowResults .targetWord {
  font-family: var(--body-font);
  font-size: 40px;
  font-weight: 500;
  color: var(--blue-color);
  margin-bottom: 10px;
  text-align: center;
}

.ShowResults .wordPhonetics {
  font-family: var(--body-font);
  font-size: 30px;
  font-weight: 400;
  color: var(--blue-color);
  margin: 0 0 30px;
  text-align: center;
}
